* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

.cuadro-contenedor, .contenedorRecetas, .contenedorCocktails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em; }

.cuadro-contenido, .contenidoReceta, .contenidoCocktail {
  width: 30%;
  border: 0.0625em solid #00d264;
  box-shadow: 0.5em 0.4375em 0.875em #ccc;
  margin: 1em 0; }

.imagen-contenido, #recetas img, #cocktails img {
  width: 100%; }

.parrafo-contenido, .contenidoReceta p, .contenidoCocktail p, .contenido-servicio p {
  color: #3d3f42;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 0.625em 1.25em; }

.imagen-servicios, .contenido-servicio img {
  background-size: cover;
  border-radius: 50%;
  border: 0.65em solid #00d264;
  height: 20rem;
  width: 20rem; }

a {
  text-decoration: none;
  color: white; }

.boton {
  background: linear-gradient(#00d264, #00823c);
  border-radius: 6.25em;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 1.25em auto;
  padding: 0.8em 0.3em;
  text-transform: uppercase;
  width: 8rem; }

.boton:hover, .boton-home:hover {
  background: #2ec083; }

body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin: 0; }

footer {
  background: linear-gradient(#b4c4bb, #565e5a);
  border-top: 0.3em solid #00d264;
  clear: both;
  font-size: 0.8rem;
  padding: 0.625em 0.3125em; }

.footer-margenSuperior {
  margin-top: 3.125em; }

footer .copyright {
  color: white;
  margin: 0;
  padding: 0.625em 0.3125em; }

footer ul li {
  list-style: none; }

footer .contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.redeSociales ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.625em 0.3125em; }

footer img {
  margin: 0 3.5em;
  transform: rotate(0);
  transition: 0.4s; }

footer img:hover {
  transform: rotate(360deg);
  transition: 0.4s; }

header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em 2em;
  position: fixed;
  width: 100%;
  z-index: 100; }

.listaMenu {
  display: flex; }

.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }

nav ul li {
  border-right: 0.03125em solid white;
  list-style: none;
  padding: 0.5em 1em; }

.logo {
  display: flex;
  align-items: center; }

.menu a {
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: all 1.5s; }

ul li:nth-last-of-type(1) {
  border-right: none; }

.menu nav ul li a:hover {
  color: #00d264;
  border-bottom: 0.0625em solid #00d264; }

.menu nav ul li a.active {
  color: #00d264; }

.titulos {
  color: #565e5a;
  font-family: "Dancing Script", sans-serif;
  font-size: 2.5rem;
  margin: 1.875em 0 0.625em 0; }

.subtitulos {
  color: #00d264;
  font-family: "Dancing Script", sans-serif;
  font-size: 1.5rem;
  margin: 0.5em 0; }

section {
  height: 100%;
  padding: 4em 2em 0 2em;
  position: relative;
  width: 100%; }

#botonesFlotantes {
  position: fixed;
  top: 73%;
  right: 1.2%; }

#lightDark {
  margin-bottom: 1.875em; }

#botonesFlotantes #lightDark a img {
  transform: rotate(0);
  transition: 0.3s; }

#botonesFlotantes #lightDark a img:hover {
  transform: rotate(360deg);
  transition: 0.3s; }

.index {
  background: url(../img/chef.jpg);
  height: 100vh;
  background-size: cover; }

.home {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center; }

.home__imagenLogo {
  background: url(../img/make-at-home.svg) no-repeat;
  background-size: contain;
  height: 11rem;
  left: 50%;
  margin-right: 0.625em;
  position: absolute;
  top: 28%;
  transform: translateX(-50%);
  width: 11rem; }

.home__titulo {
  color: white;
  font-family: "Dancing Script", sans-serif;
  font-size: 3.5rem;
  margin: 0;
  position: relative;
  top: 55%; }

.home__tituloColor {
  color: #00d264; }

.home__parrafo {
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 0 20%;
  position: relative;
  top: 60%; }

.boton-home {
  border: none;
  min-width: 9.25em;
  height: 3.125em;
  padding: 0 1.875em;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6.25em;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#00d264, #00823c);
  position: relative;
  margin: 0 0 1.25em 0;
  top: 65%; }

.boton-home__texto {
  font-weight: 600; }

#cocktails img {
  height: auto;
  max-height: 18.75em;
  object-fit: contain; }

.contenidoReceta a, .contenidoCocktail a {
  display: block; }

.alinearBotones {
  display: flex;
  justify-content: space-around; }

#servicios {
  padding: 4em 3em; }

.contenedor-servicios {
  display: flex;
  justify-content: space-around; }

.contenido-servicio {
  width: 30%; }

#contacto #formulario, #contacto #mapa {
  float: left;
  width: 50%; }

#contacto #formulario {
  text-align: left; }

#contacto #mapa iframe {
  border: none;
  height: 34.0625em;
  width: 100%;
  margin-top: 0.4375em; }

#contacto input {
  width: 82%;
  color: black;
  border-radius: 0.25em;
  border: 0.09375rem solid #cccccc;
  margin: 0.65em;
  padding: 0.65em; }

#contacto label:hover {
  color: #00d264; }

#contacto input:hover, #contacto select:hover, #contacto textarea:hover {
  border-color: #00d264; }

#contacto input[type=text]:focus, #contacto input[type=email]:focus, #contacto input[type=tel]:focus, #contacto select:focus, #contacto textarea:focus {
  background-color: #9feecd; }

#contacto input[type="submit"]:hover, #contacto input[type="reset"]:hover {
  background: #2ec083; }

#contacto select {
  width: 20%;
  border-radius: 0.25em;
  border: 0.09375rem solid #cccccc;
  margin: 0.65em;
  padding: 0.65em; }

#contacto textarea {
  width: 97%;
  color: black;
  border-radius: 0.25em;
  border: 0.09375rem solid #cccccc;
  margin: 0.65em;
  padding: 0.65em; }

#contacto input[type="submit"], #contacto input[type="reset"] {
  background: linear-gradient(#00d264, #00823c);
  border: none;
  border-radius: 6.25em;
  color: white;
  width: 46%; }

#etiquetaEmail {
  margin-right: 1.1875em; }

#contacto input[type="checkbox"] {
  width: 3%; }

.etiquetasAlineadas {
  margin-left: 0.625em; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.footer {
  grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas: 'header header header header' 'main main main main' 'footer footer footer footer'; }

.icono-menu {
  display: none; }

@media (max-width: 800px) {
  nav {
    position: absolute;
    top: 6.25em;
    left: 0;
    background: #2ec083;
    width: 100%;
    display: none; }
  .listaMenu {
    flex-direction: column; }
  nav ul li {
    border-right: none;
    padding: 0.5em 0; }
  .icono-menu {
    display: block;
    position: absolute;
    left: 19.375em;
    width: 3.125em; }
  .menu nav ul li a.active {
    color: black; }
  section {
    padding: 0; }
  .home__imagenLogo {
    height: 10rem;
    top: 23%;
    width: 10rem; }
  .home__titulo {
    font-size: 2rem;
    top: 52%; }
  .home__parrafo {
    padding: 0 5%;
    top: 55%; }
  .boton-home {
    top: 61%; }
  #botonesFlotantes {
    top: 73%;
    right: 4%; }
  .redeSociales ul {
    flex-direction: row; }
  footer img {
    margin: 0 1.5em; }
  .titulos {
    font-size: 2rem;
    margin: 3.875em 0 0.625em 0; }
  .cuadro-contenedor, .contenedorRecetas, .contenedorCocktails, .contenedorRecetas, .contenedorCocktails, .contenedor-servicios {
    flex-direction: column; }
  .cuadro-contenido, .contenidoReceta, .contenidoCocktail, .contenidoReceta, .contenidoCocktail, .contenido-servicio {
    width: 90%; }
  #servicios {
    padding: 0; }
  .contenido-servicio {
    margin: auto; }
  .contenido-servicio p {
    margin-bottom: 2.5em; }
  .footer-margenSuperior {
    margin-top: 1.125em; }
  #contacto #formulario, #contacto #mapa {
    float: none;
    width: 90%; }
  #mapa, #formulario {
    margin: auto; }
  #contacto input[type="submit"], #contacto input[type="reset"] {
    width: 43%; }
  #contacto input {
    width: 68%; }
  #contacto select {
    width: 51%; }
  fieldset {
    margin-bottom: 1.25em; } }

@media (min-width: 700px) and (max-width: 900px) {
  .icono-menu {
    left: 43.125em; }
  .home__imagenLogo {
    top: 33%; }
  footer img {
    margin: 0 3.5em; }
  #contacto input {
    width: 85%; }
  #contacto select {
    width: 35%; }
  #contacto input[type="submit"], #contacto input[type="reset"] {
    width: 46%; } }
