$myWhite: rgba(255, 255, 255, 1);
$myGreen1: rgba(0, 210, 100, 1);
$myGreen2: rgba(0, 130, 60, 1);
$myGreen3: #2ec083;
$myGreen4:  #9feecd;
$myGrey1: rgba(180, 196, 187, 1);
$myGrey2: rgba(86, 94, 90, 1);
$myGrey3: rgba(204, 204, 204, 1);
$myGrey4:#3d3f42;
$myBlack1: rgba(0, 0, 0, .6);
$myBlack2: rgba(0, 0, 0, .5);
$myBlack3: rgba(0, 0, 0, 1);